@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Open Sans', sans-serif;
  width: 100vw;
  height: 100vh;
}

@font-face {
  font-family: "TitanOne";
  src: url("../public/fonts/TitanOne-Regular.ttf");
}

.slick-arrow {
  position: relative;
  width: 64px !important;
  height: 64px !important;
  background: #EEEEEE !important;
  flex-shrink: 0 !important;
  border-radius: 50%;
  background-repeat: no-repeat !important;
  background-position: center !important;
}

.slick-arrow.slick-prev {
  left: -70px;
}

.slick-arrow.slick-next {
  right: -70px;
}

.slick-arrow.slick-prev::after {
  top: 0;
  left: 0;
  content: '';
  position: absolute;
  width: 64px !important;
  height: 64px !important;
  border-radius: 50%;
  background-color: white !important;
  transform: translateY(-6px) !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-image: url('/svg/lg-arrow-left.svg') !important;
}

.slick-arrow.slick-next::after {
  top: 0;
  content: '';
  right: 0;
  position: absolute;
  border-radius: 50%;
  width: 64px !important;
  height: 64px !important;
  background-color: white !important;
  transform: translateY(-6px) !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-image: url('/svg/lg-arrow-right.svg') !important;
}

.slick-arrow.slick-prev:active::after,
.slick-arrow.slick-next:active::after {
  transform: translateY(-2px) !important;
}

.neg-roadmap-carousel div.slick-active.slick-center .reg-roadmap-carousel-slide {
  background-image: url('/images/roadmap-secondary-bg.png') !important;
  color: #9B59B6;
}

.neg-roadmap-carousel div.slick-active.slick-center .reg-roadmap-carousel-slide .neg-roadmap__title {
  font-size: 40px !important;
  margin: 12px 0px !important;
}

.neg-roadmap-carousel div.slick-active.slick-center .reg-roadmap-carousel-slide .neg-roadmap__text {
  font-size: 18px !important;
}

.neg-skins-carousel div.slick-active.slick-center {
  width: 370px !important;
}

.neg-skins-carousel .slick-slide {
  display: flex !important;
}

.slick-current img {
  width: 370px !important;
}

.slick-track {
  display: flex !important;
  align-items: center !important;
}
