name: deploy vercel

on: [pull_request]

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: secrets
    steps:
      - uses: actions/checkout@v2

      - uses: amondnet/vercel-action@v20
        with:
          vercel-args: ${{ github.ref == 'refs/heads/main' && '--prod' || ''}}
          vercel-token: ${{ secrets.VERCEL_TOKEN }}
          vercel-org-id: ${{ secrets.ORG_ID}}
          vercel-project-id: ${{ secrets.PROJECT_ID}} 
